.list-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

@media only screen and (max-width: 749px) {
  .list-social {
    justify-content: center;
  }
}

.list-social__item .icon {
  height: 2.2rem;
  width: 2.2rem;
}

.list-social__link {
  align-items: center;
  display: flex;
  padding: 1.1rem;
  color: rgb(var(--color-foreground));
}

.utility-bar .list-social__link {
  padding: 0 0.8rem;
  height: 3.8rem;
}

.list-social__link:hover .icon {
  transform: scale(1.07);
}

.list-social__item--facebook .list-social__link,
.list-social__item--instagram .list-social__link {
  color: #fff;
  border-radius: 50%;
  transition: transform 200ms ease;
}

.list-social__item--facebook .list-social__link {
  background: #1877f2;
}

.list-social__item--instagram .list-social__link {
  background: radial-gradient(circle at 30% 110%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}

.list-social__item--facebook .list-social__link:hover,
.list-social__item--instagram .list-social__link:hover {
  transform: translateY(-0.2rem);
}
